@import '../../../styles/variables';
@import '../../../styles/layout';

.ListWrapper {
  height: 100%;
  border-right: $border-width solid $border-color;

  @media screen and (max-width: 767px) {
    border-right: 0;
  }
}

.ListItem {

  button {
    @extend %clear-btn;

    cursor: pointer;
    color: $font-color-main;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    border-style: solid;
    padding: 10px 20px;
    border-bottom: $border-width solid $border-color;
  }
}

