@import 'forms';

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-weight: 400;
  color: $font-color-main;
  background-color: $bg-main;
  margin: 0;
  min-height: 100%;
}

.container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: $font-color-sec;
  height: 45px;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffccc5;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $border-color;
  }

  &:active {
    background-color: #ffccc5;
  }
}
