%clear-btn {
  font-family: $font-family-primary;
  border: 0;
  padding: 0;
  background: none;
  height: auto;
  text-align: left;
  text-transform: none;

  &:hover,
  &:active {
    background: none;
  }
}
