$bg-main: #211426;
$font-color-main: #F2EFDF;
$font-color-sec: #000;
$font-color-link: rosybrown;
$border-color: rosybrown;

$font-family-primary: 'Lato', sans-serif;

$page-width: 1220px;

$border-width: 1px;
