@import '../../../styles/variables';

.InfoWrapper {
  border: $border-width solid $border-color;
  overflow: hidden;
  margin-bottom: 100px;
}

.Header {
  padding: 20px;
  border-bottom: $border-width solid $border-color;
}

.Body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1px;

  @media screen and (max-width: 767px) {
    grid-template-columns: none;
    grid-gap: 40px;
  }
}

.InfoSection {
  max-height: 245px;
  overflow: auto;

  @media screen and (max-width: 767px) {
    max-height: none;
  }
}

