@import '../../../styles/variables';
@import '../../../styles/layout';

.ListItem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px 0 10px 20px;
  align-items: center;

  @media screen and (max-width: 767px) {
    grid-template-columns: none;
  }
}

.RemoveBtn {
  @extend %clear-btn;

  color: $font-color-link;
  text-transform: uppercase;
  text-decoration: underline;
}
